body {
    background-color: rgb(242, 225, 190);
}

h1 {
    color: rgb(136, 47, 2);
    font-family: 'Times New Roman', Times, serif
}

h2 {
    color: rgb(136, 47, 2);
    font-family: 'Times New Roman', Times, serif
}

hr{
    border: 1px solid rgb(176, 86, 41);
}

img {
    border: 2px solid rgb(176, 86, 41);
    border-radius: 10px;
}

h3 {
    color: rgb(153, 51, 0);
    font-family: 'Times New Roman', Times, serif
}

footer {
    color: rgba(105, 73, 73, 0.75);
    padding: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

a {
    color: rgb(136, 47, 2);
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: hsla(0, 0%, 0%, 0.507);
}

h4 {
    color: rgb(136, 47, 2);
    font-family: 'Times New Roman', Times, serif
}